{% extends "Base.html" %}
{% set active_page = "about_us" %}
{% block content %}	
	{% block container %}
	
	<!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>Thank you for visiting our site!</small>
                </h1>
                <p>We are trying to make your house hunt exprerience more easy and fun!</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-sm-12">
                <h2 class="page-header">Our Team</h2>
            </div>
			<div class="col-sm-1"></div>
            <div class="col-sm-2 text-center">
                <img class="img-circle img-responsive img-center" src="/static/images/nikoletta.jpg" alt="" style="margin:auto;">
                <h3>Nikoletta Michopoulou<br>
                    <small>Student of University of Piraeus</small>
                </h3>
            </div>
           <div class="col-sm-2 text-center">
                <img class="img-circle img-responsive img-center" src="/static/images/marios.jpg" alt="" style="margin:auto;">
                <h3>Marios Portokalis
                    <small>Student of University of Piraeus</small>
                </h3>
            </div>
            <div class="col-sm-2 text-center">
                <img class="img-circle img-responsive img-center" src="/static/images/nicole.jpg" alt="" style="margin:auto;">
                <h3>Nikoletta Maraza
                    <small>Student of University of Piraeus</small>
                </h3>
            </div>
            <div class="col-sm-2 text-center">
                <img class="img-circle img-responsive img-center" src="/static/images/spuros.jpg" alt="" style="margin:auto;">
                <h3>Spuros Nasopoulos<br>
                    <small>Student of University of Piraeus</small>
                </h3>
            </div>
            <div class="col-sm-2 text-center">
                <img class="img-circle img-responsive img-center" src="/static/images/despoina.jpg" alt="" style="margin:auto;">
                <h3>Despoina Papadimitropoulou
                    <small>Student of University of Piraeus</small>
                </h3>
            </div>
        </div>

        <hr>
	
	
	
	
	{% endblock %}
{% endblock %} 